@import url("./animation.css");

:root {
    --v1: #be91c6;
    --s1: #fea798;
    --s2: #ff846e;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
    animation: skyBg 140s infinite linear both;
}
.w100 {
    width: 100%;
}
.night_shadow {
    background-color: rgba(0, 0, 0, 0.43);
    z-index: 50;
}
.grass,
.sky,
.road {
    position: relative;
    z-index: 5;
}

/* start universe animation */
.universe,
.night_shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    animation: universe 140s linear infinite;
}
.universe i {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: star linear infinite;
}
.cometa {
    position: absolute;
    left: 50%;
    top: 50px;
    right: 0;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5),
        0 0 8px rgba(225, 225, 225, 0.9), 0 0 20px rgba(225, 225, 225, 1);
    animation: dropStar 6s linear infinite;
}
.cometa-2 {
    animation-direction: 9s;
}
.cometa::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 280px;
    height: 2px;
    background-image: linear-gradient(90deg, #fff, transparent);
}

.horizon_bg,
.horizon {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0;
}
.horizon_bg {
    height: 75%;
    background-image: linear-gradient(var(--v1), var(--s1), var(--v1));
    animation: fade_bg 140s infinite;
}
.horizon {
    height: 65%;
    background: radial-gradient(circle at 80% 141%, var(--s2), transparent);
    animation: fade 140s 52s infinite;
    mix-blend-mode: color-burn;
}

/* start sky section */
.sky {
    height: 29%;
}
.cloud {
    position: absolute;
    top: 0;
    left: 0;
    animation: drive 60s both infinite linear reverse;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    z-index: var(--z);
    opacity: var(--o);
    width: var(--width);
    top: var(--to);
}

/* work with sun and moon */
.sun,
.moon {
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 14%;
    animation: shining 140s linear both infinite;
}
.sun {
    width: 70px;
    height: 70px;
    background-color: orange;
    background: #ffff77;
    box-shadow: 0 0 48px 10px #ffff77, 0 0 55px #ffff77;
}
.moon {
    width: 65px;
    height: 65px;
    background-color: #fcfcfc;
    box-shadow: 0 0 30px #d3e6ff;
    animation-delay: 70s;
    /* animation: rotate 5s; */
}
/* end sky section */

/* Start of grass section */
.grass {
    height: 43%;
    background: url(./../img/gress_bg.png), url(../img/field.png),
        url(../img/mountine.png), transparent;
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-size: 14%, 405px 239px, 968px 300px;
    background-position: -2px bottom;
}
.tree_wrapper {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -7px;
}
.tree {
    height: 180px;
    width: auto;
    margin-top: 23px;
}
/* And of grass section */

/* Start road section */
.road {
    height: 28%;
    background-color: dimgray;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
}
.line {
    height: 0;
    border: 5px dashed #fff;
    position: absolute;
    top: 45%;
}
.road img {
    position: absolute;
    left: 0;
}
.mario {
    top: -27%;
    animation: drive 6s 4s both infinite linear;
}
.luigi {
    bottom: 10%;
    animation: drive 9s both infinite linear;
}
/* And of road section  */

/* animation file */
