:root {
    --v1: #be91c6;
    --s1: #fea798;
    --s2: #ff846e;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    animation: skyBg 140s infinite linear both;
}
@keyframes skyBg {
    0% {
        background-color: rgb(34, 111, 221);
    }
    3.2% {
        background-color: rgb(75, 153, 255);
    }
    8% {
        background-color: skyblue;
    }
    37.71% {
        background-color: skyblue;
    }
    49% {
        background-color: rgb(75, 153, 255);
    }
    50.5% {
        background-color: rgb(34, 111, 221);
    }
    52.5% {
        background-color: rgb(11, 81, 172);
    }
    55% {
        background-color: rgb(3, 52, 116);
    }
    58.5% {
        background-color: rgb(1, 31, 70);
    }
    91.5% {
        background-color: rgb(1, 31, 70);
    }
    95% {
        background-color: rgb(3, 52, 116);
    }
    97.5% {
        background-color: rgb(11, 81, 172);
    }
    100% {
        background-color: rgb(34, 111, 221);
    }
}

.horizon_bg,
.horizon {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 65%;
}
.horizon_bg {
    height: 75%;
    background-image: linear-gradient(var(--v1), var(--s1), var(--v1));
    animation: fade_bg 140s infinite;
    opacity: 0;
}
.horizon {
    background: radial-gradient(circle at 80% 141%, var(--s2), transparent);
    opacity: 0;
    animation: fade 140s 52s infinite;
    mix-blend-mode: color-burn;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    13% {
        opacity: 1;
    }
    15.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade_bg {
    /* quyosh chiqishi */
    0% {
        opacity: 0;
    }
    7.25% {
        opacity: 1;
    }
    14% {
        opacity: 0;
    }
    /* quyosh chiqish */

    /* botishi */
    36.71% {
        opacity: 0;
    }
    48.71% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.grass,
.sky,
.road {
    position: relative;
}

/* start sky section */
.sky {
    width: 100%;
    height: 29%;
    /* background-color: skyblue; */
}
/* work with clouds */
.cloud {
    position: absolute;
    top: 0;
    left: 0;
    animation: cloudFly 60s both infinite linear reverse;
}
.cloud:nth-child(1) {
    animation-duration: 65s;
    animation-delay: 12s;
    z-index: 1;
    opacity: 0.5;
    width: 200px;
    top: 150px;
}
.cloud:nth-child(2) {
    animation-duration: 100s;
    animation-delay: 10s;
    z-index: 10;
    width: 300px;
}
.cloud:nth-child(3) {
    animation-duration: 82s;
    z-index: 4;
    opacity: 0.7;
    width: 250px;
    top: 100px;
}
/* work with sun and moon*/
.sun,
.moon {
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 14%;
}
.sun {
    width: 70px;
    height: 70px;
    background-color: orange;
    animation: shining 140s linear both infinite;
    background: #ffff77;
    box-shadow: 0 0 50px 10px #ffff77, 0 0 50px 35px #ffff77;
}
.moon {
    width: 65px;
    height: 65px;
    background-color: #fcfcfc;
    box-shadow: 0 0 30px #d3e6ff;
    animation: shining 140s linear 70s both infinite;
    /* animation: rotate 5s; */
}
/* end sky section */

/* start grass section */
.grass {
    width: 100%;
    height: 43%;
    background: url(./../img/gress_bg.png), url(../img/field.png),
        url(../img/mountine.png), transparent;
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-size: 14%, 405px 239px, 968px 300px;
    background-position: -2px bottom;
}
.tree_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -7px;
}
.tree {
    height: 180px;
    width: auto;
    margin-top: 23px;
}
/* and grass section */

/* road section */
.road {
    width: 100%;
    height: 28%;
    background-color: dimgray;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
}
.line {
    width: 100%;
    height: 0;
    border: 5px dashed #fff;
    position: absolute;
    top: 45%;
}
.mario {
    position: absolute;
    top: -27%;
    left: 0;
    animation: drive 6s 4s both infinite linear;
}
.luigi {
    position: absolute;
    bottom: 10%;
    left: 0;
    animation: drive 9s both infinite linear;
}

@keyframes drive {
    0% {
        left: -500px;
    }
    100% {
        left: calc(100%);
    }
}

@keyframes cloudFly {
    0% {
        left: -300px;
    }
    100% {
        left: 100%;
    }
}

@keyframes shining {
    0% {
        top: 65%;
        left: 14%;
    }
    6.25% {
        top: 50%;
        left: 19%;
    }
    12.5% {
        top: 31%;
        left: 28%;
    }
    18.75% {
        top: 20%;
        left: 36%;
    }

    22.92% {
        top: 12%;
        left: 44%;
    }
    27.8% {
        top: 12%;
        left: 56%;
    }

    31.25% {
        top: 20%;
        left: 64%;
    }
    37.5% {
        top: 31%;
        left: 73%;
    }
    43.75% {
        top: 50%;
        left: 81%;
    }
    50% {
        top: 65%;
        left: 86%;
    }
    100% {
        top: 65%;
        left: 86%;
    }
}
